@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

body {
  /* display: block; */
  background-color: #ccf7fe;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    flex: 1;
    padding-bottom: 2rem;
    align-items: start;
}

.site-footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
}

