.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    background-color: #5dd9fa;
    border-top: 5px solid #5dd9fa;
}

.footer-content {
    display: flex;
    justify-content: center;
}