@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
.header {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    background: linear-gradient(135deg, #6cd1e0 0%, #63e4be 50%, #caaff8 100%);
}

.mascot {
    width: 75px;
    height: 75px;
}
