.introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pixelify Sans', sans-serif;
}

.general-profile-info-container, .health-goals-panel {
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 25px;
    background: #a5d1ee;
    border: 2px solid #F8F9FA;
    flex-direction: column;
    width: 500px;
    height: 350px;
    border-radius: 25px;
    font-family: 'Pixelify Sans', sans-serif;
}

.form-labels {
    padding: 5px;
    font-size: 18px;
}

.general-info-form {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    font-family: 'Pixelify Sans', sans-serif;
}

.next-btn {
    background-color: #45acbc;
    width: 200px;
    border-radius: 25px;
    font-family: 'Pixelify Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    font-size: 25px;
    transition: 0.4s ease-in;
    opacity: 0.5;
}

.next-btn:hover {
    opacity: 1;
}
