@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.profile-container {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: rgb(251, 255, 255);
    border: 2.5px solid #6cd1e0;
    height: 350px;
    border-radius: 25px;
    margin: 25px;
}

.profile-content {
    text-align: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
}

.profile-demographics, .edit-form {
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

.edit-button, .finalize-button, .return-button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    border: none;
    background-color: #6cd1e0;
    border-radius: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.edit-button:hover, .finalize-button:hover, .return-button:hover {
    opacity: 0.8;
}

.edit-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
